html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* ========== TYPOGRAPHY ========== */
h1 {
    font-size: 0.875rem;
}

.nav-links a {
    font-size: 0.875rem;
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: dimgray;
}

.hero h1 {
    font-size: 1.5rem;
    color: azure;
}

.hero-text p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: azure;
}

/* ========== HEADER ========== */

.navbar {
    width: 95%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title img {
    height: 1.5rem;
    margin-right: 0.25em;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-transform: uppercase;


}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-item {
    padding: 10px 15px;
    text-decoration: none;
}

/* ========== HERO ========== */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    background-image: url("blog-image-hero.png");
    background-size: cover;
    height: 50vw;

}

.hero-text {
    max-width: 400px;
    margin: 1em;

}

/* .hero h1,
p,
.date {
    margin: 0.3em 1rem;
} */

/* ========== BLOG FEED ========== */
.blog-feed {
    max-width: 500px;
    justify-content: start;
    display: flex;
    flex-direction: column;
    margin: 1em;
    text-align: left;
}

.blog-text {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* ========== FOOTER ========== */
footer {
    width: 100%;
    margin: auto;
    justify-content: center;
    font-size: 0.675rem;
    color: #ECECEC;
    background-color: #202020;
    height: 50px;
    text-align: center;
}

/* ========== MEDIA QUERIES ========== */
@media (min-width: 675px) {
    h1 {
        font-size: 1rem;
    }

    .nav-links a {
        font-size: 1rem;
    }

    .hero-text {
        width: 60%;
        margin-bottom: 2em;
    }

    .blog-feed {}